<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Livro</h2>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label for="nome">Titulo:</label>
            <input id="nome" #tituloSearchInput name="titulo" class="form-control ml-2 mr-2" placeholder="Colocar título">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label for="nome">Autor:</label>
            <input id="nome" #autorSearchInput name="autor" class="form-control ml-2 mr-2" placeholder="Colocar autor">
        </div>
    </div>

    <button class="btn btn-primary" (click)="procurar()" style="margin: 10px;">Procurar</button>
    <div class="form-group">
        <button class="btn btn-success" (click)="addLivro()" style="margin: 10px;">Adicionar</button>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Isbn</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Preço</th>
                    <th>Data da Publicação</th>
                    <th>Imagem da Capa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livro of livroList | paginate : { id: 'listing_pagination',
                itemsPerPage: size,
                currentPage: page,
                totalItems: count
              };
              let i = index
              " [class.active]="i == currentIndex">
                    <td class="hidden">{{livro.isbn}}</td>
                    <td>{{livro.titulo}}</td>
                    <td>{{livro.autor}}</td>
                    <td>{{livro.preco}}</td>
                    <td>{{livro.dataPublicacao.toString() | date:'dd-MMM-yyyy'}}</td>
                    <td>{{livro.imagemCapa}}</td>
                    <td>
                        <button class="btn btn-light" (click)="editLivro(livro.id)" title="Editar">
                            <a class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar"></i></a>
                            </button>

                        <button class="btn btn-light" (click)="detailsLivro(livro.id)" style="margin-left: 20px;" title="Visualizar">
                              <a  class="search" data-toggle="modal"> <i class="material-icons" data-toggle="tooltip" title="Visualizar" data-toggle="Visualizar">search</i></a>
                            </button>

                        <button class="btn btn-light" (click)="deleteLivro(livro.id)" style="margin-left: 10px" title="Deletar">
                              <a  class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar"></i></a>
                            </button>
                    </td>
                </tr>
            </tbody>
            <tr class="grid" *ngIf="!livroList?.length">
                <td colspan="7">Dados não encontrados</td>
            </tr>
        </table>
        <div *ngIf="livroList?.length">
            <pagination-controls id="listing_pagination" maxSize="3" directionLinks="true" (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
    </div>
</div>