<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
    <div class="form-group" [ngClass]="aplicaCssErro(nome)">

        <div class="col-sm-12">
            <label for="nome" class="control-label">Nome</label>
        </div>

        <div class="col-sm-12">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" [ngModel]="usuario.nome" [readonly]="!isDetalhe" required #nome="ngModel">

            <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório.">
            </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(email)">
        <div class="col-sm-12">
            <label for="email" class="control-label">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com" [ngModel]="usuario.email" [readonly]="!isDetalhe" required #email="ngModel">

            <app-campo-control-erro [mostrarErro]="verificaValidTouched(email)" msgErro="Email inválido">
            </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(senha)">

        <div class="col-sm-12">
            <label for="senha" class="control-label">Senha</label>
        </div>

        <div class="col-sm-12">
            <input type="text" class="form-control" name="senha" id="senha" placeholder="senha" [ngModel]="usuario.senha" [readonly]="!isDetalhe" required #senha="ngModel">

            <app-campo-control-erro [mostrarErro]="verificaValidTouched(senha)" msgErro="Senha é obrigatório.">
            </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-1" *ngIf="isDetalhe">
                <button type="submit" class="btn btn-success">{{isSalvarOuEditar ? 'Salvar' : 'Editar'}}</button>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-info" (click)="gotoList()">Voltar</button>
            </div>
        </div>
    </div>
</form>