<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Usuário</h2>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" class="form-control ml-2 mr-2">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="email">Email:</label>
            <input id="email" name="email" class="form-control ml-2 mr-2">
        </div>
    </div>

    <button class="btn btn-primary" (click)="procurar()" style="margin: 10px;">Procurar</button>

    <div class="form-group">
        <button class="btn btn-success" (click)="addUsuario()" style="margin: 10px;">Adicionar</button>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarioList | paginate: { id: 'listing_pagination',
                itemsPerPage: 3,
                currentPage: page,
                totalItems: totalRec }">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.senha}}</td>
                    <td>
                        <button class="btn btn-light" (click)="editUsuario(usuario.id)" title="Editar">
                        <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar" data-original-title="Editar"></i></a>
                        </button>

                        <button class="btn btn-light" (click)="detailsUsuario(usuario.id)" style="margin-left: 20px;" title="Visualizar">
                          <a href="#detailsUsuario" class="search" data-toggle="modal"> <i class="material-icons" data-toggle="tooltip" title="Visualizar" data-toggle="Visualizar">search</i></a>
                        </button>

                        <button class="btn btn-light" (click)="deleteUsuario(usuario.id)" style="margin-left: 10px" title="Deletar">
                          <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Deletar" data-original-title="Deletar"></i></a>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tr class="grid" *ngIf="!usuarioList?.length">
                <td colspan="5">Dados não encontrados</td>
            </tr>
        </table>

        <div *ngIf="usuarioList?.length">
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>